# SPDX-FileCopyrightText: 2015-2018 CERN.
# SPDX-License-Identifier: MIT

include babel.ini
include .dockerignore
include docs/requirements.txt
include .editorconfig
include LICENSE
include pytest.ini
include *.rst
include *.sh
include .tx/config
include *.txt
recursive-include docs *.bat
recursive-include docs Makefile
recursive-include .github/workflows *.yml
recursive-include docs *.py
recursive-include docs *.rst
recursive-include examples *.html
recursive-include examples *.py
recursive-include invenio_formatter *.html
recursive-include invenio_formatter *.po *.pot *.mo
recursive-include tests *.py
include .git-blame-ignore-revs
